.country {
  font-family: 'Roboto', sans-serif;
  height: 80px;
  font-size: 28px;
  background-color: #FFFFFF;;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;

  .index {
    width: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .vertical_line {
    height: 100%;
    width: 1px;
    background-color: #B2B2B2;
  }

  .name {
    margin-left: 25px;
    width: 60%;
  }

  .total {
    margin-left: 25px;
  }
}

.country:hover {
  background: rgb(219, 216, 223);
  cursor: pointer;
  color: #FFFFFF;
}

.inverted {
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: bold;
}

.inverted:hover {
  background-color: #2196F3;
  cursor: default;
}